.container{
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.nombre_logo{
    display:inline-flex;
    color: #0074fe;
    align-items: center;
}

.button{
    /* border: 1px solid red; */
    width: 100px;
    margin: 15px;
    border-radius: 5px;
    border: none;
    background-color: #0074fe;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.363);
}

.button:hover {
    transform: scale(1.05);
}

.logoCircle{
    margin-left: 20px;
    width: 50px; /* Puedes ajustar el tamaño del círculo según tus necesidades */
    height: 50px; /* Puedes ajustar el tamaño del círculo según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0074fe;
    color: white;
    border-radius: 50%; /* Hace que el div sea un círculo */
    margin-right: 10px;
}